.progress {
  text-align: center;
}

.item {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.repo {
  margin-left: 10px;
}

.link {
  font-family: 'Merriweather-Black', 'Arial Black', serif;
  color: black;
  text-decoration: none;
}

.descr, .lang {
  font-family: 'Merriweather-Light', 'Arial', serif;
}

.pagination {
  margin: 0 auto 10px;
  width: 100px;
}
